.defining_heading {
  margin-top: 3%;
  padding: 3px;
}
.Form_label {
  color: rgba(255, 0, 0, 0.692);
  font: bold;
}

.fields {
  font-family: sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  align-content: center;
  margin: 0.5% 0%;
}

.tagContainer {
  min-width: 60%;
  max-width: 75%;
  display: flex;
  flex-wrap: wrap;
  min-height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.tag {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 25px;
  margin: 2px 5px 2px 0px;
  color: black;
}

h6.heading {
  color: red;
}

.tagContainer input {
  border: none;
  flex: 1;
  outline: none;
  padding: 5;
  background: white;
  color: black;
}
.tag span {
  margin-left: 5px;
  cursor: pointer;
}
.bttn {
  margin: 10px;
}
.point_input {
  float: left;
  width: 15%;
  margin: 0% 2%;
}
