.container {
  background-color: rgba(215, 230, 236, 0.801);
  padding: 3%;
  margin: 2%;
  border: 3px transparent grey;
  /* border-radius: 2%; */
}
.res_sec {
  margin: 3%;
}
.res_sec Button {
  margin: 0% 0.5% 0 0;
}
.res_title {
  float: left;
  margin: 0.5% 2% 0 0;
}
